{% extends 'base.html' %} {% load static %} {% block title %} Billetterie des
Jeux Olympiques - Liste des offres {% endblock title %}
<!--prettier-ignore-->
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/offers-list.css' %}" />
{% endblock additional_css %} {% block content %}
<div class="wrapper">
  <!--prettier-ignore-->
  <h1 class="lato lato-bold text-align-center text-xl">
    Les offres de la billetterie des Jeux Olympiques
  </h1>
  <!--prettier-ignore-->
  <section class="full-width justify-content-center offers-container">
    {% for offer in offers %}
      {% include 'products/includes/offer-card.html' with offer=offer %}
    {% endfor %}
  </section>
</div>
{% endblock content %}
