.offers-container {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 250px);
  width: 100%;
}

.offer-card-image {
  border-bottom: 1.5px solid black;
  width: 100%;
}
