/* === HERO SECTION === */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/hero.webp");
  background-position: center;
  background-size: cover;
  justify-content: center;
  min-height: 90vh;
}

.hero-subtitle {
  color: var(--whitesmoke);
  padding: 8rem;
}

.hero-link {
  margin-bottom: 1.875rem;
}

/* === MAIN CONTAINER === */

.main-container {
  /* Vertical | Horizontal */
  margin: 0 1.25rem;
}

/* === PRESENTATION SECTION === */

.homepage-card {
  width: 30%;
}

.homepage-card-text {
  width: 100%;
}

@media screen and (max-width: 650px) {
  section > h2 {
    text-align: center;
  }

  section > .flex-wrap {
    align-items: center;
    flex-direction: column;
  }

  .homepage-card {
    width: 100%;
  }
}
