/* === ROOT === */

:root {
  --bg-primary: #d6c377;
  --black: black;
  --border-style: 1px solid black;
  --red: red;
}

/* === UTILITY CLASSES === */

.background-primary {
  background-color: var(--bg-primary);
}

.button {
  border: 1.5px solid var(--black);
  border-radius: 10px;
  gap: 10px;
  margin-bottom: 1.875rem;
  padding: 0.625rem;
}

.button:hover {
  cursor: pointer;
}

.button-image {
  height: 20px;
}

.error-message {
  color: var(--red);
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.image-bordered {
  border: var(--border-style);
}

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.lato-bold {
  font-weight: 700;
}

.lato-regular {
  font-weight: 400;
}

.link-appearance {
  color: var(--black);
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

.paragraph-appearance {
  hyphens: auto;
  text-align: justify;
}

.responsive-image {
  height: auto;
  object-fit: cover;
}

.text-align-center {
  text-align: center;
}

/* === From largest to smallest === */

.text-3xl {
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}

.text-2xl {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
}

.text-xl {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.5rem + 1vw, 2.5rem);
}

.text-lg-xl {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
}

.text-lg {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
}

.text-base {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.text-sm {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}

/* === BODY === */

.body {
  min-height: 100vh;
}

/* === HEADER === */

.header {
  border-bottom: 1.5px solid var(--black);
  margin-bottom: auto;
  /* Vertical | Horizontal */
  padding: 0.625rem 1.25rem;
}

.header-logo {
  height: 80px;
  max-width: 100%;
}

.navbar-list-item {
  margin-left: 1.25rem;
}

.navbar-list-item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    /* Vertical | Horizontal */
    padding: 0.625rem 0rem;
  }

  .navbar-list {
    padding: 0;
  }
}

/* === FOOTER === */

.footer {
  border-top: 1.5px solid var(--black);
  justify-content: space-evenly;
  margin-top: auto;
  padding-bottom: 0.938rem;
}

.footer-list {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
