{% load static %}
<footer class="footer background-primary">
  <div>
    <p class="text-base lato-bold">Réseaux sociaux</p>
    <ul class="footer-list">
      <li>
        <a href="#" class="text-sm lato-regular link-appearance">Facebook</a>
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance">Instagram</a>
      </li>
      <li><a href="#" class="text-sm lato-regular link-appearance">X</a></li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance">TikTok</a>
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance">YouTube</a>
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance">LinkedIn</a>
      </li>
    </ul>
  </div>
  <div>
    <p class="text-base lato-bold">Assistance</p>
    <ul class="footer-list">
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Centre d'aide</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Nous contacter</a
        >
      </li>
    </ul>
  </div>
  <div>
    <p class="text-base lato-bold">Crédits</p>
    <ul class="footer-list">
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Conditions générales de vente</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Conditions générales d'utilisation</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Mentions légales</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Politique de confidentialité</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Paramètres des cookies</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Politique cookie billeterie</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Accessibilité et éco-conception</a
        >
      </li>
      <li>
        <a href="#" class="text-sm lato-regular link-appearance"
          >Cybersécurité</a
        >
      </li>
    </ul>
  </div>
</footer>
