{% load static %}
<footer class="background-primary flex footer wrapper">
  <div>
    <p class="lato lato-bold text-base">Réseaux sociaux</p>
    <ul class="footer-list list-style-none">
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Facebook</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Instagram</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm">X</a>
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm">TikTok</a>
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >YouTube</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
  <div>
    <p class="lato lato-bold text-base">Assistance</p>
    <ul class="footer-list list-style-none">
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Centre d'aide</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Nous contacter</a
        >
      </li>
    </ul>
  </div>
  <div>
    <p class="lato lato-bold text-base">Crédits</p>
    <ul class="footer-list list-style-none">
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Conditions générales de vente</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Conditions générales d'utilisation</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Mentions légales</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Politique de confidentialité</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Paramètres des cookies</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Politique cookie billeterie</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Accessibilité et éco-conception</a
        >
      </li>
      <li>
        <a href="#" class="lato lato-regular link-appearance text-sm"
          >Cybersécurité</a
        >
      </li>
    </ul>
  </div>
</footer>
